<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>Web design by Benjamin Gorman:</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              <span class="icon  icon--github">
                  <img src="{{ site.asseturl }}/images/github-icon16x16.png" alt="github icon">
              </span>

              <span class="username">{{ site.github_username }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <span class="icon  icon--twitter">
                  <img src="{{ site.asseturl }}/images/twitter-icon16x16.png" alt="twitter icon">
              </span>

              <span class="username">{{ site.twitter_username }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.facebook_pageurl %}
          <li>
            <a href="{{ site.facebook_pageurl }}">
              <span class="icon icon--facebook">
                  <img src="{{ site.asseturl }}/images/facebook-icon16x16.png" alt="facebook icon">
              </span>
              <span class="username">{{ site.facebook_pagename }}</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</footer>
