/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $theme-dark-orange;
    min-height: 56px;
    position: relative;
}
.site-header-content {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#site-title {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1px;
    margin-bottom: 0;
    text-align: center;

    font-family: 'egyptianNights';
    color: $theme-dark;

	&:hover {
		text-decoration: none;
	}
}

.navbar {
    text-align: center;
    
    ul {
        width: auto;
		margin-left: 0px;
        margin-bottom: 5px;
        padding: 0;
    }

    li {
		line-height: 35px;
		display: inline-block;
        float: left;
		overflow: hidden;
		vertical-align: middle;
        padding: 0px 20px;
		margin-right: 5px;
        background: $theme-dark-orange;
        border-radius: 4px;
		&:hover {
			background: lighten($theme-dark-orange, 5%);
		}
    }
}

a.page-link {
    color: $theme-dark;
    font-family: 'egyptianNights';
    font-size: 26px;
    margin: 0;
	padding: 0;

	&:hover {
		text-decoration: none;
		color: $theme-dark;
	}
}

h1 {
	font-family: 'egyptianNights';
	color: $theme-dark;
}

.african-seperator {
	height: 50px;
	background-image: url('#{$asset_url}/images/edited_african_pattern.png'); 
	background-repeat: repeat-x;
	background-size: auto 50px;
}

.img-frame {
    padding: 5px;
    background: $theme-white;
    border: 1px solid $theme-dark;
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $theme-dark-orange;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list {
    list-style: none;
    margin-left: 0;

	li {
		margin-bottom: 5px;
	}
}

.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: lighten($theme-dark, 10%);
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(30% - (#{$spacing-unit} / 2));
    width:         calc(30% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
	background: lighten($theme-light-orange, 5%);
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
